.mat-sidenav {
  width: 260px;
  background-color: #285059;
  padding: 0 5px;
}

.mat-drawer {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.revert-icon {
  cursor: pointer;
}

.mat-toolbar {
  height: 50px;
}
