<div class="product-form-container">
  <div class="header-wrapper">
    <p class="header-title">Створити продукт</p>
  </div>

  <form [formGroup]="productForm" class="product-form">
    <mat-form-field appearance="fill">
      <mat-label>Заголовок</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ціна</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Категорія</mat-label>
      <input matInput formControlName="category" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Кількість на складі</mat-label>
      <input matInput type="number" formControlName="stock" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Опис</mat-label>
      <textarea matInput formControlName="description"> </textarea>
    </mat-form-field>

    <input
      class="main-file"
      type="file"
      id="file"
      (change)="onFileSelected($event)"
    />
    <label class="main-file" for="file" mat-raised-button color="primary"
      >Виберіть зображення</label
    >
    <div class="btn-group">
      <button
        [disabled]="!productForm.valid"
        class="submit-btn"
        mat-raised-button
        color="accent"
        type="submit"
        (click)="submitProduct()"
      >
        Створити
      </button>
    </div>
  </form>
</div>
